button {
  @apply appearance-none;
  @apply select-none;
  @apply align-middle;
  @apply font-semibold;
  @apply text-center;
  @apply no-underline;
  @apply leading-normal;
  @apply whitespace-nowrap;
  @apply inline-block;
  @apply cursor-pointer;

  &:focus {
    @apply outline-none;
    @apply ring-2 ring-indigo-200;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    @apply cursor-default;
    @apply pointer-events-none;
    @apply border-gray-400;
    @apply !text-gray-400;
    @apply !ring-0;
    @apply !border-none;
    @apply !bg-transparent;
  }

  &.fill-button,
  &.ghost-button {
    @apply rounded;
    @apply py-1 px-4;
  }

  &.fill-button {
    @apply bg-indigo-500;
    @apply text-white;
    @apply border border-solid border-indigo-500;

    &:hover {
      @apply bg-indigo-600;
      @apply border-indigo-600;
    }

    &:active {
      @apply bg-indigo-700;
      @apply border-indigo-700;
    }
  }

  &.ghost-button {
    @apply text-indigo-500;
    @apply border-none;

    background-color: inherit;

    &:hover {
      @apply text-indigo-600;
    }

    &:active {
      @apply text-indigo-700;
    }
  }
}

input {
  @apply appearance-none;
  @apply border-none;
  @apply leading-normal;
  @apply shadow-none;
  @apply max-w-full;
  @apply w-full;
  @apply py-1 px-0;

  /* Dark Mode */
  @apply dark:bg-gray-900;

  min-height: 36px;
  font-stretch: 100%;

  &:active,
  &:focus {
    @apply outline-none;
  }

  &::placeholder {
    @apply text-base;
    @apply text-gray-400;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    @apply cursor-default;
    @apply pointer-events-none;
    @apply text-gray-300;

    &::placeholder {
      @apply text-gray-300;
    }
  }

  &.outline-input {
    @apply px-2;
    @apply border border-solid border-gray-300;
    @apply rounded;
    @apply transition duration-150;

    /* Dark Mode*/
    @apply dark:border-gray-500;

    &:active,
    &:focus {
      @apply border-indigo-500;
      @apply ring-2 ring-indigo-200;
    }
  }
}

img {
  @apply rounded;
}

figure {
  @apply my-8;

  img {
    @apply mx-auto;
  }

  figcaption {
    @apply text-center;
    @apply text-sm;
    @apply !text-gray-500;
    @apply pt-2;
  }
}
